    body,
    html {
        margin: 0;
        padding: 0;
        height: 100%;
        background: white !important;
    }

    /*css para a card de login*/
    .user_card {
        height: 400px;
        width: 350px;
        margin-top: auto;
        margin-bottom: auto;
        background: #f39c12;
        position: relative;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 5px;

    }
    /*css para o container do logo da "empresa" no card do login*/
    .brand_logo_container {
        position: absolute;
        height: 170px;
        width: 170px;
        top: -75px;
        border-radius: 50%;
        background: white;
        padding: 10px;
        text-align: center;
    }
    /*css para o logo da "empresa" no card do login*/
    .brand_logo {
        height: 150px;
        width: 150px;
        border-radius: 50%;
        border: 2px solid black;
    }
    /*Css para o form, botão de login e inputs*/
    .form_container {
        margin-top: 100px;
    }
    .login_btn {
        width: 100%;
        background: #c0392b !important;
        color: white !important;
    }
    .login_btn:focus {
        box-shadow: none !important;
        outline: 0px !important;
    }
    .login_container {
        padding: 0 2rem;
    }
    .input-group-text {
        background: #c0392b !important;
        color: white !important;
        border: 0 !important;
        border-radius: 0.25rem 0 0 0.25rem !important;
    }
    .input_user,
    .input_pass:focus {
        box-shadow: none !important;
        outline: 0px !important;
    }

    /*Código da dashboard*/

    .logotipo{
        width: 100px;
    }

    #navbarNav ul li a{
        color: orange;
    }

    #navbarNav ul li a:hover{
        color: #c0392b;
    }

    #navbarNav ul li a.active{
        color: #c0392b;
    }

    #navbarNav ul li a.active:hover{
        color: #660103;
    }

    .btn, .btn:hover{
        border: 1px solid #c0392b;
    }

    .btn a{
        text-decoration:none;
    }

    .container{
        margin-bottom: 20px;
    }

    .borda{
        border: 1px solid #c0392b;
    }

    .card-header{
        color: orange;
    }

    .espaco{
        margin-right: 10px;
    }